<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script> -->
  <!-- <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script> -->
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
  <!-- <link type="image/png" sizes="96x96" rel="icon" href=""> -->

</head>
<!-- <link type="image/png" sizes="16x16" rel="icon" href=".../icons8-book-16.png">
<link type="image/png" sizes="32x32" rel="icon" href=".../icons8-book-32.png"> -->


<body>
  <table style="width:110%;max-width:900px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Maung Thant
              </h1>
              <!-- 
              <p>I am a fourth-year PhD student at <a href="https://www.ethz.ch/">ETH Zurich</a>, Department of Mathematics. <br> My PhD is generously funded by <a href="https://www.ai.ethz.ch/">ETH AI Center</a> and <a href="https://math.ethz.ch/sfs/eth-foundations-of-data-science.html">ETH FDS initiative</a>. 
                <br> I am supervised by <a href="https://people.math.ethz.ch/~abandeira/">Afonso Bandeira</a> and <a href="https://sml.inf.ethz.ch/group/fannyy/">Fanny Yang</a>.
              </p>
              <p>
                In Fall 2024, I visited Simons Institute for the Theory of Computing at UC&nbsp;Berkeley, for the program <a href="https://simons.berkeley.edu/programs/modern-paradigms-generalization">Modern paradigms in generalization</a>.
              </p>
              <p>
                I am broadly interested in topics at the intersection of mathematics, theoretical computer science and machine learning,
                with a current focus on the interplay between structure and randomness in algorithm analysis.
              </p>
              <p>
                I have a MS in Data Science from <a href="http://epfl.ch">EPFL</a>, where I worked with <a href="https://www.epfl.ch/labs/spoc/">Lenka Zdeborová</a> and <a href="http://mlo.epfl.ch/">Martin Jaggi</a>.
              </p>
              -->



              <p>
                  I am currently conducting a full-time research assistantship with <a href="https://www.vincenzolomonaco.com/">Prof. Vincenzo Lomonaco</a> on continual model selection for tool learning in continual learning systems.
              </p>


              <p>I am a recent graduate of the Advanced Master's (Master-after-Master) in Artificial Intelligence at <a href="https://www.kuleuven.be/english/kuleuven/">KU Leuven</a>, where I worked with <a href="https://www.bartdemoor.be/index.php/about-2">Prof. Bart De Moor</a> on self-supervised multi-modal medical AI systems.
              </p>
              <p>
                I also hold a Master's in Electronics and ICT Engineering Technology from <a href="https://www.kuleuven.be/english/kuleuven/">KU Leuven</a>, where I conducted research with <a href="https://scholar.google.com/citations?user=A9HIWYgAAAAJ&hl=en&oi=ao">Prof. Jef Peeters</a> on vision-based robotic grasping, <a href="https://tvanwate.github.io/">Prof. Toon van Waterschoot</a> on automatic polyphonic music transcription through spatial audio recording, and <a href="https://iiw.kuleuven.be/onderzoek/emedia/people/geurtslucca">Prof. Lucca Geurts</a> on health monitor system for detecting and predicting asthma attacks.
              </p>
              <p>
                My research interests span deep learning, unsupervised representation learning, multi-modality, continual learning, dynamic scene understanding, and healthcare AI.
              </p>
              
              <p style="text-align:center">
                <!-- <a href="https://scholar.google.com/citations?user=3_4gF8wAAAAJ">Google Scholar</a> &nbsp;/&nbsp; -->
                <!-- <a href="maungthantacademic@gmail.com"> Email </a> &nbsp;/&nbsp; -->
                <a href="/pdfs/Maung_Thant_resume.pdf"> CV </a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/maung-thant-b4767b237/"> LinkedIn </a>
                <!-- <a target="_blank" href="https://mailhide.io/e/ZniB5ozt"> Email</a> &nbsp;/&nbsp; -->
                <!-- <a href="https://github.com/daniildmitriev">GitHub</a> &nbsp;/&nbsp; -->
                
                <!-- <a href="https://x.com/dmitrievdaniil7"> X </a> &nbsp;/&nbsp; -->
                <!-- <a href="https://bsky.app/profile/ddmitriev.bsky.social"> Blue sky </a> -->
              </p>
              Contact me at: maungthantacademic@gmail.com
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/Thant_Maung-13_circle_cropped.png">
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <h2>Publications</h2>
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <!-- {% if post.supervisor %}
                <br>Advisor:
                {% if post.supervisor_link %}
                  <a href="{{ post.supervisor_link }}" target="_blank">{{ post.supervisor }}</a>
                {% else %}
                  {{ post.supervisor }}
                {% endif %}
              {% endif %}
              <br>
              {{post.authors}}
               -->

              {% if post.supervisor %}
                <a href="{{ post.supervisor_link }}" target="_blank"><br>Advisor:{{ post.supervisor }}</a>
              {% endif %}
              
              {% if post.authors %}
                <br>{{post.authors}}
              {% endif %}
              

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              {% if post.thesis %}
              <a href="{{post.thesis}}">thesis</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Invited Talks</h2>
            </td>
          </tr>
        {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'talk' %}
          <tr>
            <td style="padding:0.5%;width:15%;vertical-align:middle;text-align:left">
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              {% if post.video %}
              <a href="{{post.video}}">video</a> 
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a>
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> 
              {% endif %}
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
            </td>
          </tr>
        </table>
        <!-- 
        <p> ETH Zurich, TA: Mathematics of Data Science (Fall 2021), Mathematics of Machine Learning (Spring 2022) </p>
        <p> EPFL, TA: Artificial Neural Networks (Spring 2020, Spring 2021) </p>
        <p> Supervising MSc theses at ETH Zurich: Carolin Heinzler (Fall 2023), Krish Agrawal, Ulysse Faure (Spring 2024) </p>
        <p> Berkeley Math Circle (Fall 2024) </p>
        <p> Reviewer: NeurIPS 2024 (Top reviewer), ICLR 2025 </p>
        -->



        <p> KU Leuven, TA: Artificial Neural Networks and Deep Learning (H02C4A, Graduate) -  Spring 2025</p>
        <p> KU Leuven, TA: Support Vector Machines: Methods and Applications (H02D3A, Graduate) - Spring 2025</p>
        <p> KU Leuven, TA: Introductory course of Mathematics (Introductory Course) -  Fall 2023</p>
        <p> KU Leuven, TA: Fundamentals of Mathematics (T1AWB2, Undergraduate) - Fall 2022</p>
        <p> KU Leuven, TA: Electronic Circuits (T1ESCE, Undergraduate) -  Spring 2021, 2022, 2023</p>
        
        </table>
        <br>

        <!-- <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Intel Projects</h2>
              <p>Besides my work on the RealSense depth sensors and the publications above, a sampling of my publicly disclosed work
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Other Projects</h2>
              <p> These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat != 'research' and cat != 'Intel' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.categories}} {{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://daniildmitriev.github.io/">Daniil Dmitriev's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

